* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: Arial, sans-serif;
}

body {
  background: #f5f5f5;
  color: #222;
}

.dark {
  background: #121212;
  color: #eee;
}

header {
  position: sticky;
  top: 0;
  background: #222;
  z-index: 10;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
}

.logo {
  color: #00adb5;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.nav-links a:hover,
.nav-links a.active {
  color: #00adb5;
}

#themeToggle {
  cursor: pointer;
}

.hero {
  text-align: center;
  padding: 80px 20px;
  background: linear-gradient(to right, #00adb5, #393e46);
  color: white;
}

.hero img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid white;
  margin-bottom: 15px;
}


.section {
  padding: 60px 20px;
  max-width: 1000px;
  margin: auto;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.project-card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  transition: transform 0.3s;
}

.project-card:hover {
  transform: translateY(-8px);
}

.dark .project-card {
  background: #1f1f1f;
}

.project-card a {
  color: #00adb5;
}

.skills .skill {
  margin: 10px 0;
}

.bar {
  background: #ddd;
  height: 10px;
  border-radius: 5px;
  overflow: hidden;
}

.progress {
  background: #00adb5;
  height: 100%;
  width: 0;
  transition: width 1s ease;
}

form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

input, textarea {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #aaa;
}

button {
  padding: 10px;
  background: #00adb5;
  border: none;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #02848a;
}

footer {
  text-align: center;
  padding: 20px;
  background: #222;
  color: white;
}

.socials a {
  margin: 0 10px;
  color: #00adb5;
}

/* Animation */
.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: 1s;
}

.fade-in.show {
  opacity: 1;
  transform: translateY(0);
}

/* Responsive */
@media (max-width: 600px) {
  .nav-links {
    flex-direction: column;
  }
}
